* {
    margin: 0;
    padding: 0;
}
body{
    width: 360px;
    position: relative;
}
li{
    list-style: none;
}
.first-page {
    visibility: hidden;
    position: absolute;
    /*border: 1px solid black;*/
    width: 360px;
    height: 640px;
    background-color: white;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;

}
.header-container {
    position: fixed;
    box-sizing: border-box;
    justify-content: space-between;
    width: 360px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.hamburger-button {
    margin: 10px;
    float: right;
    position: relative;
    z-index: 1;

}
.header_button_language {
    width: 96px;
    height: 32px;
    position: relative;
    padding-left: 10px;
}
.header_button_language:hover {
    background-color: rgba(29, 125, 237, 0.1);
    border: 1px solid rgba(131, 188, 255, 0.5);
    border-radius: 2px;
}
.header_button_language-arrow {
    background: no-repeat url("images/arrow-down_icon.png");
    position: absolute;
    width: 30px;
    height: 30px;
    color: #849BAF;
    top: 8px;
    right: 6px;
}
.header_button_language-text {
    font: 500 22px 'Golos Text';
    line-height: 32px;
    padding-left: 5px;

}
.header_button_language-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.header-icon-close {
    width: 25px;
    height: 25px;
}

.main-content-list {
    margin: 100px 0 100px 23px;

}
.main-content-list-item{
    font: 500 22px 'Golos Text';
    line-height: 32px;
    margin-bottom: 20px;
    background: no-repeat 300px/16px url("images/arrow-right_icon.png");
}
.footer-content-list {
    margin: 200px 0 100px 23px;
}
.footer-content-list-item {
    font: 500 22px 'Golos Text';
    line-height: 32px;
    margin-bottom: 20px;
}
.first-page-hidden{
    z-index: 5;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    transform: translateX(-200%);
    transition: all 1.5s ease 0s;

}
.first-page-visible{
    position: absolute;
    top: 0;
    visibility: visible;
    left: -50%;
    transform: translateX(200%);
    transition: all 1.5s ease 0s;

}
.second-page{
    background-color: white;
    opacity: 1;
    width: 360px;
    height: 540px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
    visibility: hidden;
}
.second-page-visible{
    visibility: visible;
    position: absolute;
    top: 100px;
    left: -50%;
    transform: translateX(200%);
    transition: all 1.5s ease 0s;

}
.second-page-hidden{
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: -50%;
    transform: translateX(-200%);
    transition: all 1.5s ease 0s;
}
.second-page-heading, .third-page-heading {
    padding-left: 30px;
    list-style: none;
    font: 500 22px 'Golos Text';
    line-height: 32px;
    margin-bottom: 50px;
    background: no-repeat 10px/16px url("images/arrow-left_icon.png");
}
.third-page-heading:after {
    content: '';
    background-color: blue;
    width: 360px;
    height: 1px;
}
.second-page-list-item {
    padding-left: 30px;
    font: 400 18px 'Golos Text';
    line-height: 30px;
    margin-bottom: 20px;
    background: no-repeat 300px/16px url("images/arrow-right_icon.png");
}
.third-page {
    background-color: white;
    opacity: 1;
    width: 360px;
    height: 540px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 15;
    visibility: hidden;
}
.third-page-visible{
    visibility: visible;
    position: absolute;
    top: 100px;
    left: -50%;
    transform: translateX(200%);
    transition: all 1.5s ease 0s;
}
.third-page-hidden{
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: -50%;
    transform: translateX(-200%);
    transition: all 1.5s ease 0s;
}
.third-page-list-item {
    font: 400 16px 'Golos Text';
    line-height: 24px;
    margin-left: 27px;
    margin-bottom: 35px;
}
.third-page-list-text {
    font: 400 12px 'Golos Text';
    line-height: 20px;
    color: #577188;
    margin-top: 10px;
}